{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="masthead__menu" style="flex: 1; min-width: 0;">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
    <a href="https://ece.technion.ac.il/" class="masthead__logo" style="flex-shrink: 0; margin-left: 30px;">
      <img src="{{ base_path }}/images/technion_ece_logo.png" alt="Technion ECE" style="height: 40px; width: auto; display: block;">
    </a>
    <a href="https://www.technion.ac.il/en/" class="masthead__logo" style="flex-shrink: 0; margin-left: 30px;">
      <img src="{{ base_path }}/images/technion_logo.png" alt="Technion" style="height: 40px; width: auto; display: block;">
    </a>
  </div>
</div>